* {
    padding: 0px;
    margin: 0px;
}

main {
    display: grid;
    background: #5b3758;
    width: 100vw;
    height: 100vh;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1 3 2 2 1fr;
    grid-template-areas:
        "header header header"
        "carrusel carrusel carrusel"
        "nav nav nav"
        "section section section"
        "footer footer footer"
    ;
}

header {
    grid-area: header;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background: #f9627d;
    width: 100vw;
}


nav {
    grid-area: nav;
}

section {
    grid-area: section;
}

footer {
    grid-area: footer;
}

header .logo {
    font-size: 40px;
    color: #bbb;
}

/* search>> */
fieldset .buscador {
    display: flex;
    justify-content: center;
}

fieldset {
    background: #bbb;
    border: none;
    border-radius: 5px;

}

header fieldset input {
    border: none;
    width: 40vw;
    text-align: center;

}

fieldset input,
button {
    margin: 10px 10px;
}

fieldset button {
    width: 50px;
    background: #666;
    border: none;
    border-radius: 5px;
}

.fa-search {
    color: white;

}

/* <<search */
/* Slidder>> */
.carrusel {
    grid-area: carrusel;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #bbb;
}

.slidder {
    width: 380px;
    overflow: hidden;
}

.slidder ul {
    display: flex;
    width: 1520px;
    height: 214px;
    list-style: none;
    animation: slidder 40s infinite alternate;
}

@keyframes slidder {
    0% {
        margin-left: -0px;
    }

    25% {
        margin-left: -0px;
    }

    25% {
        margin-left: -380px;
    }

    50% {
        margin-left: -380px;
    }

    50% {
        margin-left: -760px;
    }

    75% {
        margin-left: -760px;
    }

    75% {
        margin-left: -1140px;
    }

    100% {
        margin-left: -1140px;
    }

}

/* <<slidder */
.contenedorNav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f9627d;
}

.contenedorNav .menu>a {
    text-decoration: none;
    font-size: 20px;
    color: #666;
}

.fa-lungs-virus,
.fa-syringe,
.fa-hospital {
    font-size: 100px;
    color: #bbb;
}

section {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    background: #bbb;
}

article h2 strong {
    color: #666;
    font-size: 60px;
}

article h2 {
    color: #666;
}

.fa-phone-alt {
    color: #666;
    font-size: 50px;
}

section article .IconosNav {
    text-decoration: none;
    font-size: 70px;
    color: #666;
}

footer .contenedor {
    display: flex;
    justify-content: space-around;

}
footer .contenedor .item3{
    display: flex;
    align-items: center;
    list-style: none;
  
}
footer .contenedor .item3 h2{
    display: flex;
    align-self: flex-start;

}
footer .contenedor .item1,.item2{
    list-style: none;
}
.item2 li >a {
text-decoration: none;
color: black;
}
